<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.Tech in Information Technology</h1>
            <span>
                <address>GLA Institiute of Technology and Manageement | Mathura</address>
                <time>2005 to 2009</time>
            </span>
        </header>
        <p>
        </p>
    </article>
    <!-- <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span>
                <address>London, UK</address><time>2007 to 2011</time>
            </span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article> -->
</section>