<section class="thirteen columns employment">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Lead Experience Engineer</h1>
            <span>
                <address>PUBLICIS SAPIENT</address>
                <time>Dec 2019 to Present</time>
            </span>
        </header>
        <ul>
            <li>15+ years of professional experience in front-end development, specializing in Angular (2+ to latest versions), TypeScript, JavaScript (ES6+), and modern UI frameworks</li>
            <li>Proven track record of leading development teams, conducting code reviews, and mentoring junior developers to ensure adherence to best practices and maintainable codebases</li>
            <li>Expertise in architecting scalable single-page applications (SPAs) with modular design, lazy loading, and optimized performance for enterprise-level clients</li>
            <li>Skilled in RESTful API, implementing secure authentication/authorization flows, and managing complex state using NgRx</li>
            <li>Strong background in cloud-based deployments (Azure) and CI/CD pipelines with Jenkins, GitHub Actions, and Docker</li>
            <li>Experienced in Agile/Scrum methodologies, collaborating with product owners, designers, and QA teams to deliver high-quality solutions on time.</li>
            <li>Adept at performance tuning, debugging, and refactoring legacy code to improve efficiency and maintainability</li>
            <li>Recognized for problem-solving skills, leadership, and ability to align technical solutions with business goals.</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Lead Consultant</h1>
            <span>
                <address>GENPACT HEADSTRONG CAPITAL MARKETS</address>
                <time>June 2018 to Present</time>
            </span>
        </header>
        <ul>
            <li>Development of new features and bug fixing</li>
            <li>Learned Agile model of software development and took ownership of all coding and testing</li>
            <li>Implemented multiple item drag and drop feature in Angular</li>
            <li>Creating UI solutions utilizing agile process</li>
            <li>Functional Testing of various test case scenarios</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Technical Lead</h1>
            <span>
                <address>TECH MAHINDRA</address>
                <time>Feb 2018 to June 2018</time>
            </span>
        </header>
        <ul>
            <li>Bug fixing for mobile app</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Senior Associate Technology L1</h1>
            <span>
                <address>SAPIENT GLOBAL MARKETS</address>
                <time>Sep 2014 to Feb 2018</time>
            </span>
        </header>
        <ul>
            <li>Only frontend senior dev in team</li>
            <li>Designing of reusable components</li>
            <li>Evaluating requirements and preparing functional mockups</li>
            <li>Guiding team to follow best practices</li>
            <li>Unit and Integration testing</li>
            <li>Carried out UAT deployment using Bamboo</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Senior software Engineer</h1>
            <span>
                <address>SDG</address>
                <time>March 2014 to Sep 2014</time>
            </span>
        </header>
        <ul>
            <li>Developed multiple features and screens using jquery</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span>
                <address>MAGIC SOFTWARE</address>
                <time>April 2010 to March 2014</time>
            </span>
        </header>
        <ul>
            <li>Coding and development of Flash/HTML5 game s for e learning domain</li>
            <li>Was part of framework team who was involved in development of a gaming framework based on Backbonejs
            </li>
            <li>Successfully carried out development of Flash games in multiple projects at same time</li>
        </ul>
    </article>
</section>
