<section class="thirteen columns employment">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Lead Consultant</h1>
            <span>
                <address>GENPACT HEADSTRONG CAPITAL MARKETS | NOIDA</address>
                <time>June 2018 to Present</time>
            </span>
        </header>
        <ul>
            <li>Development of new features and bug fixing</li>
            <li>Learned Agile model of software development and took ownership of all coding and testing</li>
            <li>Implemented multiple item drag and drop feature in Angular</li>
            <li>Creating UI solutions utilizing agile process</li>
            <li>Functional Testing of various test case scenarios</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Technical Lead</h1>
            <span>
                <address>TECH MAHINDRA | NOIDA</address>
                <time>Feb 2018 to June 2018</time>
            </span>
        </header>
        <ul>
            <li>Bug fixing for mobile app</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Senior Associate Technology L1</h1>
            <span>
                <address>SAPIENT GLOBAL MARKETS | GURGAON</address>
                <time>Sep 2014 to Feb 2018</time>
            </span>
        </header>
        <ul>
            <li>Only frontend senior dev in team</li>
            <li>Designing of reusable components</li>
            <li>Evaluating requirements and preparing functional mockups</li>
            <li>Guiding team to follow best practices</li>
            <li>Unit and Integration testing</li>
            <li>Carried out UAT deployment using Bamboo</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Senior software Engineer</h1>
            <span>
                <address>SDG | NOIDA</address>
                <time>March 2014 to Sep 2014</time>
            </span>
        </header>
        <ul>
            <li>Developed multiple features and screens using jquery</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span>
                <address>MAGIC SOFTWARE | NOIDA</address>
                <time>April 2010 to March 2014</time>
            </span>
        </header>
        <ul>
            <li>Coding and development of Flash/HTML5 game s for e learning domain</li>
            <li>Was part of framework team who was involved in development of a gaming framework based on Backbonejs
            </li>
            <li>Successfully carried out development of Flash games in multiple projects at same time</li>
        </ul>
    </article>
</section>