<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <!-- <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C/C++ & Objective-C</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
        </p> -->
        <em>
            Javascript | ES6 | Typescript <br />
            Angular | Angularjs | Backbonejs | NgRx <br />
            Angular Material | Ngx Bootstrap <br />
            Bootstrap | Responsive design <br />
            HTML5 | CSS3 | LESS/SASS <br />
            Action script 2.0, 3.0 <br />
            GIT | SVN <br />
            AGILE
        </em>
    </article>
</section>